@import model.Cust
@import scala.collection.mutable.ListBuffer
@import play.api.libs.json.Json
@import play.api.libs.json._

@(cust: ListBuffer[Cust])

@main("ListCustomers") {
<section id="top">
    <button onClick="window.location.reload();">List</button>
    <div class="wrapper">
        {[<br>
        @for(w <- cust) {
        @Json.toJson(w)<br>
        }
        ]}
    </div>
</section>
<section id="addcust">
    <div class="wrapper">
        <form name="addcust" action="/add_customer" method="post">
            <label for="username">Name:</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br><br>
            <button type="submit" formmethod="post">Add customer</button>
        </form>
    </div>
</section>

<section id="deletecust">
    <div class="wrapper">
        <form name="deletecust" action="/delete_customer" method="post">
            <label for="id">id:</label>
            <input type="text" id="id" name="id"><br><br>
            <button type="submit" formmethod="post">Delete customer</button>
        </form>
    </div>
</section>

<section id="updatecust">
    <div class="wrapper">
        <form name="updatecust" action="/update_customer" method="post">
            <label for="id">id:</label>
            <input type="text" id="id" name="id"><br><br>
            <label for="username">Name:</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br><br>
            <button type="submit" formmethod="post">Update customer</button>
        </form>
    </div>
</section>

}